/* General Navbar Styles */
nav {
  display: flex;
  justify-content: space-between;
  background-color: #f8fafc;
  border: none;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding: 0.5rem 2rem;
  background-color: #ffffff; /* Background color for the navbar */
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.1); /* Adds shadow to the navbar */
  padding: 10px 20px; /* Adjust padding for spacing */
  position: fixed; /* Makes the navbar fixed at the top */
  top: 0;
  width: 100%; /* Full width */
  z-index: 1000; 

}
.active {
  text-decoration: underline;
  color: #040c9a;
  
  
  
}

nav ul li a:not(.active):hover {
  text-decoration: underline ;
  

  
  
   
  
}

/* Logo Styles */
nav .logo {
  font-size: 34px;
  margin: 1.1rem 50px;
  text-decoration: none;
  color: #01162c;
  background: none;
  font-weight: bold;
}



/* Navbar Links Styles */
nav ul {
  display: flex;
  margin: 0px 50px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: #040c9a;
  padding: 0.5rem;
  margin: 20px;
  font-size: 19px;
  overflow: hidden;
  font-weight: 600;
}

nav ul li a:hover {
  text-decoration: underline;
  font-weight: bold;
}

/* Hamburger Menu Styles */
nav .menu {
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
  margin: 20px;
  display: flex;
  cursor: pointer;
  display: none;
}

nav .menu span {
  height: 0.3rem;
  width: 100%;
  background-color: #000000;
  border-radius: 0.1rem;
  display: block;
  margin: 3px;
}

/* Close Icon Animation */
.menu.close-icon span:nth-child(1) {
  transform: rotate(49deg) translate(8px, 8px);
}

.menu.close-icon span:nth-child(2) {
  opacity: 0;
}

.menu.close-icon span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Navbar Links on Small Devices */
@media (max-width: 667px) {
  nav {
    width: 100%;
    height: 5rem;
  }

  nav .logo {
    font-size: 22px;
    width: 17rem;
    position: absolute;
    margin: 20px -20px;
  }

  nav ul {
    display: block;
    position: absolute;
    top: 80px;
    left: -30%;
    
    text-align: center;
    background-color: #f8fafc;
    width: 400px;
    padding: 1rem 0;
    transition: all 0.5s ease;
    transform: translateX(-100%);
  }

  nav ul.open {
    transform: translateX(0);
  }

  nav ul li {
    margin: 1.5rem 0;
  }

  nav ul li a {
    font-size: 1.2rem;
  }

  nav .menu {
    display: flex;
    width: 30px;
    
    
  }
  nav .menu span {
    height: 0.2rem;
    
    width: 90%;
    background-color: #000000;
    border-radius: 1,0rem;
    display: block;
    margin: 3px;
  }
}
