/* General Navbar Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff; /* Navbar background color */
  border: none;
  padding: 0.5rem 2rem;
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.1); /* Adds shadow to the navbar */
  width: 100%;
}

/* Navbar Links Styles */
nav ul {
  display: flex;
  gap: 1.8rem;
  z-index: 1051; /* Prevent navbar links from being hidden behind carousel */
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: var(--primary-color);
  padding: 0.5rem;
  font-size: 19px;
  overflow: hidden;
  font-weight: 600;
}

nav ul li a:hover {
  font-weight: 900;
}

nav ul li a.active {
  position: relative;
  color: var(--primary-color) !important;
  width: max-content;
  font-weight: 900;
}

nav ul li a.active::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--primary-color);
  box-sizing: border-box;
}

/* Logo Styles */
nav .logo {
  font-size: 2.2rem;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
}

/* Hamburger Menu Styles */
nav .menu {
  display: none; /* Hidden by default for larger screens */
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1051; /* Ensure menu button is above other elements */
}

nav .menu span {
  height: 0.3rem;
  width: 100%;
  background-color: #000000;
  border-radius: 0.1rem;
  display: block;
  margin: 3px;
}

/* Close Icon Animation */
.menu.close-icon span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu.close-icon span:nth-child(2) {
  opacity: 0;
}

.menu.close-icon span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* Navbar Links on Small Devices */
@media (max-width: 667px) {
  nav {
    width: 100%;
    height: 5rem;
    
    
  }

  nav .logo {
    font-size: 22px;
    width: 17rem;
    position: absolute;
    margin: 20px -20px;
  }

  nav ul {
    display: block;
    position: absolute;
    top: 80px;
    background-color: #f8fafce1;
    width: 400px;
    margin: 0 -32px;
    padding: 1rem 0;
    transition: all 0.5s ease;
    transform: translateX(-110%);
    
  }

  nav ul.open {
    transform: translateX(0);
    
  }

  nav ul li {
    margin: 1.5rem 0;
    
  }

  nav ul li a {
    font-size: 1.2rem;
  }

  nav .menu {
    display: flex;
    width: 30px;
  
  }
  nav .menu span {
    height: 2.2rem;
    
    width: 90%;
    background-color: #000000;
    border-radius: 1,0rem;
    display: block;
    align-items: center;
  }
  
nav ul li a.active {
  position: relative;
  color: var(--primary-color) !important;
  width: max-content;
  font-weight: 900;
  text-align:left;
  
  
}

.container {
  align-items: center;
  margin: -80;
}


/* Close Icon Animation */
.menu.close-icon span:nth-child(1) {
  transform: rotate(49deg) translate(8px, 8px);
}

.menu.close-icon span:nth-child(2) {
  opacity: 0;
}

.menu.close-icon span:nth-child(3) {
  transform: rotate(-49deg) translate(7px, -4px);
}
}
