.event-datetime {
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 600;
    /* background-color: #100f1d; */
    /* width: 200px; */
    /* padding: 0rem; */
    /* text-align: center; */
    /* border-radius: 2rem; */
}

.event-title {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 900;
    text-transform: capitalize;
    /* padding: 1.4rem; */
}
.event-description {
    font-size: 1.2rem;
}
.title {
    font-weight: bold;
    color: var(--primary-color);
}
.achievement-section {
    padding: 3rem 2rem;
    background-color: #100f1d;
}

.section-header h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #fefefe;
}

/* Responsive Styles */

/* For Devices between 1024px to 1200px (Desktops/Tablets) */
@media (max-width: 1200px) and (min-width: 1024px) {
    .event-title {
        font-size: 2.2rem;
    }

    .event-datetime {
        font-size: 1.3rem;
    }

    .event-description {
        font-size: 1.3rem;
    }

    .section-header h2 {
        font-size: 2.2rem;
    }

    .achievement-section {
        padding: 2.5rem 1.5rem;
    }
}


/* For Devices between 576px to 768px (Mobile Tablets/Small Tablets) */
@media (max-width: 768px) and (min-width: 576px) {
    .event-title {
        font-size: 1.8rem;
    }
    

    .event-datetime {
        font-size: 1.1rem;
    }

    .event-description {
        font-size: 1.1rem;
    }

    .section-header h2 {
        font-size: 1.8rem;
    }

    .achievement-section {
        padding: 2rem 1rem;
    }
}

/* For Devices smaller than 576px (Mobile Devices) */
@media (max-width: 576px) {
    .event-title {
        font-size: 1.6rem;
        margin: 3rem auto;
        margin: 2rem -5rem;
        width: 200px;
        text-align: center;
    
    }
    .er img{
        width: 200px;
        height: 200px;
        font-size: 1.6rem;
        font-size: 1.6rem;
        margin: 3rem auto;
        margin: 2rem  -14rem;
        width: 200px;
        text-align: center;
        
       
    }
    .col-3 img{
        width: 300px;
        height: 200px;
    }
    .event-datetime {
        font-size: 0.9rem;
        color: #fff;
        background-color: #100f1d;
        text-align: center;
    }

    .event-description {
        font-size: 1rem;
        margin: 3rem -8rem;
        width: 317px;
        text-align: center;
        align-items: center;
         
    }

    .section-header h2 {
        font-size: 1.6rem;
    }

    .achievement-section {
        padding: 1.5rem 0.8rem;
    }
}